<nav>
  <ul class='navbar'>
    {{#link-to 'notes.new'}}<li>{{fa-icon 'plus'}} New</li>{{/link-to}}
    <a href='#' {{action 'toggleEdit' notes}}><li>{{fa-icon 'pencil'}} Edit</li></a>
    <!-- <a href="#" {{action 'login'}}><li>{{fa-icon 'fa-github'}} Login with Github</li></a> -->
    {{input type='text' value=searchbar placeholder='Search'}}
  </ul>
</nav>
