<div class="scrollable">
  <div class="note-body">
    <div class="note-details">
      <h3>{{model.id}}</h3>
      {{#if model.hasDirtyAttributes}} <button id='save' {{action 'saveNote'}}> Save</button>{{/if}}
    </div>
    <div class="rendered">
      <div class="stats">
        <span>Character count:</span> {{charCount}}
        <span>Word count:</span> {{wordCount}}
      </div>
      {{markdown model.content}}
      <div class='spacer'></div>
    </div>
    <div class="markdown">
      {{textarea value=model.content}}
    </div>
  </div>
</div>
